.img-presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.left-image,
.right-image {

    flex: 1; /* Pour que les deux divs occupent la même largeur */
    height: 100%;
}


.img-feuille,
.img-legume {
    max-width: 100%; /* Pour s'assurer que les images ne dépassent pas la taille de leur conteneur */
    height: auto; /* Pour conserver les proportions de l'image */

}


.img-feuille{
    margin-top: 30px;
    margin-left: 60px;
    width: 400px;
}

.img-legume{
    margin-top: 100px;
    margin-right: 20px;
    width: 600px;
}


Strong{
    font-size: 16px
}




@media only screen and (max-width: 1024px){

    .img-presentation{
        height: auto;
        overflow: hidden;
    }

    .img-feuille{
        max-width: 100%; /* Pour s'assurer que les images ne dépassent pas la taille de leur conteneur */
        height: auto;
        width: 220px/* Pour conserver les proportions de l'image */

    }


    .img-legume{
        max-width: 100%; /* Pour s'assurer que les images ne dépassent pas la taille de leur conteneur */
        height: auto;
        margin-top: 40px;
        width: 350px;
    }

    Strong{
        font-size: 12px
    }
    p{
        font-size: 12px;
    }


}

@media only screen and (max-width: 644px){
    .img-feuille{
        max-width: 100%; /* Pour s'assurer que les images ne dépassent pas la taille de leur conteneur */
        height: auto;
        width: 210px/* Pour conserver les proportions de l'image */
    }
}

@media only screen and (max-width: 576px){
    .img-feuille{
        margin-left: 20px;
        max-width: 100%; /* Pour s'assurer que les images ne dépassent pas la taille de leur conteneur */
        height: auto;
        margin-top: 80px;
        width: 185px/* Pour conserver les proportions de l'image */
    }

    .img-legume{
        max-width: 100%; /* Pour s'assurer que les images ne dépassent pas la taille de leur conteneur */
        height: auto;
        margin-top: 100px;
        width: 270px;
    }

    Strong{
        font-size: 12px
    }



    p{
        font-size: 11px;
    }


}