.product-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem ;
    position: relative; /* Ajout de cette ligne pour positionner la ligne */
}

.product-bar::after {
    margin-left: 30px;
    content: "";
    position: absolute;
    bottom: -0.5px; /* Positionnement sous la barre de navigation */
    left: 0;
    width: 95%; /* Largeur de la ligne en fonction de la largeur de .product-bar */
    height: 1px; /* Épaisseur de la ligne */
    background-color: black; /* Couleur de la ligne */
    background-color: lightgray;
}

.titleP{
    font-family: "Newsreader";
}



.desc {
    display: flex;
    align-items: center;
}




li{
    padding:  0 40px;
    list-style: none;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: black;
}

.Default,.A-Z,.List-view{
    background-color: gray;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    margin: 0 1px;
    border: none;

    color: white;
    cursor: pointer;
    transition: 0.1s ease ;
}

